.header__shape {
  position: absolute;
  z-index: 0;
  transform: rotate(15deg) translateY(-600px) translateX(-200px);
}

.project__thumbnail {
  height: 295px;
  width: 295px;
  object-fit: cover;
  overflow: hidden;
}

.project__image {
  object-fit: cover;
  border-radius: 32px;
}

.image_hero {
  object-fit: cover;
  object-position: 70% top;
}

.hero_image {
  background-image: url("./public/assets/images/lookoutbanner.png"), linear-gradient(#eb01a5, #d13531);
  background-image: url("./public/assets/images/lookoutbanner.png");

  background-size: cover;
}

.image_about {
  object-fit: cover;
}

.image_cover {}

@media (prefers-reduced-motion: no-preference) {}