.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.project__thumbnail {
  height: 295px;
  width: 295px;
  object-fit: cover;
  overflow: hidden;
}

.project__image {
  width: 587px;
  height: 588px;
  object-fit: cover;
  border-radius: 32px;
}

.image_hero {
  object-fit: cover;
  object-position: 70% top;
}

.image_about{
  object-fit: cover;
}

.image_cover {
  object-fit: cover;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {

}
